.logo {
  width: 10vw;
  display: block;
  margin: 1% auto;
}

.main-title {
  text-align: center;
  font-size: 42px;
  font-family: sans-serif;
  font-weight: 600;
  margin: 18px;
  cursor: default;
}

.sub-title {
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 600;
  color: darkgray;
  cursor: default;
}